# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.env/

# SQLite database (you don’t need to push actual data)
*.db

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
